body {
  background-color: #eee;
}

.listBox {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.listElement {
  box-shadow: 5px 5px 5px rgb(155, 154, 154);
  border: dotted 1px rgb(133, 75, 167);
  display: inline-block;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.task {
  /* border: solid 2px #F3F7D4; */
  /* #F3F7D4; */
  box-shadow: 1px 1px 4px rgb(129, 129, 129);
}

.newTask {
  border: dotted 3px silver;
}

.popUpBox {
  background-color: blue;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -width/2;
  margin-top: -height/2;
  opacity: 0.8;
}
